<div class="container">
    <div class="jumbotron bg-dark text-white" style="text-align: center">
        <h6>Strona główna</h6>
    </div>
    
        <div class="list-group">
            <a th:href="@{/}" class="list-group-item list-group-item-action list-group-item-dark  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Powtórki</h5>
                    <small class="text-muted">Słówka do powtórzenia: 23</small>
                </div>
            <p class="mb-1">Naukę rozpoczynaj od powtórzenia przerobionego materiału. Powtarzanie regularne to klucz do sukcesu! </p>
            </a>
               <hr class="myhr"/>
               
              <a th:href="@{/nauka}" class="list-group-item list-group-item-action list-group-item-dark flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                       <h5 class="mb-1">Nauka</h5>
                       <small class="text-muted">Ostatnia nauka: 23.03.2021</small>
                </div>
                <p class="mb-1">Wybierz słowa do nauki. Możesz uczyć się po kolei wszystkich słów lub wybrać kategorię oraz ilość.</p>
              </a>
              <hr class="myhr"/>
              
              <a routerLink="/lista_slow" class="list-group-item list-group-item-action list-group-item-dark  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                     <h5 class="mb-1">Baza słówek</h5>
                      <small class="text-muted">Lista słów: 5603</small>
                </div>
                <p class="mb-1">Przeglądaj bazę w poszukiwaniu konkretnych słówek. Możesz sortować według kategorii lub użyć przycisku "Szukaj"</p>
              </a>

               <hr class="myhr"/>
               
              <a th:href="@{/}" class="list-group-item list-group-item-action list-group-item-dark  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Statystyki</h5>
                      <small class="text-muted">Nauczonych słów: 31%</small>
                </div>
                <p class="mb-1">Sprawdzaj szczegółowe informacje na temat postępów w nauce.</p>
              </a>
               <hr class="myhr"/>
               
              <a th:href="@{/}" class="list-group-item list-group-item-action list-group-item-dark  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Wyloguj się</h5>
                </div>
                <p class="mb-1">Do zobaczenia jutro!</p>
              </a>
        </div>
    </div>
    <div class="container mt-3">
        <router-outlet></router-outlet>
      </div>