
<div>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand mx-auto" href="#">Memory5!</a>
  
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <div class="collapse navbar-collapse navbar-nav mr-auto" id="navbarMenu">
      <div class="navbar-nav">
            <a routerLink="glowna" class="nav-item nav-link active" >Strona główna</a>
            <a class="nav-item nav-link" th:href="@{/nauka}">Nauka</a>
            <a class="nav-item nav-link" href="/">Powtórki</a>
            <a routerLink="slowka" class="nav-item nav-link">Baza słówek</a>
            <a class="nav-item nav-link" href="#">Statystki</a>
        </div>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>